/* --------------------------------------------------------------------------
 * Prodigystudio  : Maleo - Multipurpose HTML Template
 *  
 * file           : maleo-responsive.css
 * Desc           : Maleo Framework - Core
 * Version        : 1.0
 * Date           : 07/12/2014
 * Author         : Prodigystudio - team
 * Author URI     : http://prodigystudio.net
 * Email          : Hello@prodigystudio.net
 *
 * Prodigy Studio. Copyright 2014. All Rights Reserved.
 * -------------------------------------------------------------------------- */
@import url("revolution-responsive.css");
/* Notebook */
@media only screen and (max-width: 1280px) {
  .separator hr, .separator-inner hr {
    left: -55px !important;
  }

  .rowfull .left-bg {
    width: 25.44% !important;
  }

  .rowfull .right-bg {
    width: 74.56% !important;
  }
}
/* Tablet Landscape */
@media only screen and (max-width: 1024px) {
  .separator hr, .separator-inner hr {
    width: 1000px !important;
    background-size: 1000px 134px !important;
    left: 10px !important;
  }

  header .search-content .input-group .form-control {
    padding-left: 0 !important;
  }

  .content-box-left {
    max-width: none !important;
    width: 100% !important;
  }

  #promo-home .medium-6 {
    margin-bottom: 20px !important;
  }

  .company-content {
    padding-right: 0;
    margin-top: 0 !important;
    padding-right: 0 !important;
  }

  .image-box-right {
    margin-top: 50px;
    padding-right: 1.40625rem !important;
  }

  #team {
    margin-bottom: -10px !important;
  }
  #team .img-team {
    top: 80px !important;
    position: relative;
  }

  .maleo-index-tab .feature-left {
    margin-bottom: 0 !important;
    float: none !important;
  }

  footer .scroll-top {
    bottom: -120px !important;
    right: 1.40625rem !important;
  }

  .maleo-index-tab .maleo-tab-text p {
    display: none !important;
  }

  .maleo-index-tab .resp-tabs-list li {
    height: 110px !important;
  }

  .maleo-index-tab .maleo-tab-text {
    width: 64% !important;
    padding-top: 42px !important;
  }

  .maleo-index-tab .maleo-tab-text h6 {
    font-size: 21px !important;
  }

  #parallax-index2 h1 {
    background: transparent !important;
  }

  .feature-right.process .process-number2 {
    left: -35px !important;
  }

  #about-parallax,
  #parallax-index2,
  #parallax-index3,
  #parallax-index5,
  #parallax-index6 {
    background-size: 1024px 656px !important;
  }

  #about-parallax {
    background-position: 50% 250px !important;
  }

  #parallax-index2 {
    background-position: 0% 20% !important;
  }

  #parallax-index3 {
    background-position: 0% 0% !important;
  }

  #parallax-index5 {
    background-position: 0% 0% !important;
  }

  #parallax-index6 {
    background-position: 50% 10% !important;
  }

  .maleo-tab .resp-tabs-list {
    width: 66% !important;
  }

  .masonry {
    width: 101.9% !important;
  }

  .blog-media1 img {
    height: 260px !important;
  }

  .blog-content2 .blog-info {
    margin-top: 59px !important;
  }

  .blog-content3 .mo-media {
    margin-top: 30px;
    margin-bottom: 55px !important;
  }

  p.blog-date {
    margin-top: 20px !important;
    margin-bottom: 17px !important;
  }

  .blog-info {
    margin-top: 50px !important;
  }

  .feature .process-number {
    left: calc(50% + 70px) !important;
  }

  .testi.style6 div {
    bottom: -moz-calc(100%);
    bottom: -webkit-calc(100%);
    bottom: -o-calc(100%);
    bottom: calc(100%);
  }

  .mo-icon-list [class^="smico-"],
  .mo-icon-list [class*=" smico-"] {
    left: 38px !important;
  }
}
/* Tablet Potrait */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .separator, .separator-inner {
    margin-top: -38px !important;
  }
  .separator hr, .separator-inner hr {
    width: 720px !important;
    background-size: 720px 96px !important;
    left: 25px !important;
  }

  /* break point medium potrait */
  .column.medium-potrait-center,
  .columns.medium-potrait-center {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  .column.medium-potrait-left,
  .columns.medium-potrait-left {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }

  .column.medium-potrait-right,
  .columns.medium-potrait-right {
    float: right;
  }

  .column.medium-potrait-hide,
  .columns.medium-potrait-hide {
    display: none !important;
  }

  .medium-potrait-push-0 {
    position: relative;
    left: 0%;
    right: auto;
  }

  .medium-potrait-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  .medium-potrait-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  .medium-potrait-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  .medium-potrait-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  .medium-potrait-push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  .medium-potrait-pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  .medium-potrait-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  .medium-potrait-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  .medium-potrait-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  .medium-potrait-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  .medium-potrait-push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  .medium-potrait-pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  .medium-potrait-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  .medium-potrait-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  .medium-potrait-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  .medium-potrait-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  .medium-potrait-push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  .medium-potrait-pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  .medium-potrait-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  .medium-potrait-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  .medium-potrait-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  .medium-potrait-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  .column,
  .columns {
    position: relative;
    padding-left: 1.40625rem;
    padding-right: 1.40625rem;
    float: left;
  }

  .medium-potrait-1 {
    position: relative;
    width: 8.33333%;
  }

  .medium-potrait-2 {
    position: relative;
    width: 16.66667%;
  }

  .medium-potrait-3 {
    position: relative;
    width: 25%;
  }

  .medium-potrait-4 {
    position: relative;
    width: 33.33333%;
  }

  .medium-potrait-5 {
    position: relative;
    width: 41.66667%;
  }

  .medium-potrait-6 {
    position: relative;
    width: 50%;
  }

  .medium-potrait-7 {
    position: relative;
    width: 58.33333%;
  }

  .medium-potrait-8 {
    position: relative;
    width: 66.66667%;
  }

  .medium-potrait-9 {
    position: relative;
    width: 75%;
  }

  .medium-potrait-10 {
    position: relative;
    width: 83.33333%;
  }

  .medium-potrait-11 {
    position: relative;
    width: 91.66667%;
  }

  .medium-potrait-12 {
    position: relative;
    width: 100%;
  }

  [class*="column"] + [class*="column"]:last-child {
    float: left;
  }

  [class*="column"] + [class*="column"].end {
    float: left;
  }

  .medium-potrait-offset-0 {
    position: relative;
    margin-left: 0% !important;
  }

  .medium-potrait-offset-1 {
    position: relative;
    margin-left: 8.33333% !important;
  }

  .medium-potrait-offset-2 {
    position: relative;
    margin-left: 16.66667% !important;
  }

  .medium-potrait-offset-3 {
    position: relative;
    margin-left: 25% !important;
  }

  .medium-potrait-offset-4 {
    position: relative;
    margin-left: 33.33333% !important;
  }

  .medium-potrait-offset-5 {
    position: relative;
    margin-left: 41.66667% !important;
  }

  .medium-potrait-offset-6 {
    position: relative;
    margin-left: 50% !important;
  }

  .medium-potrait-offset-7 {
    position: relative;
    margin-left: 58.33333% !important;
  }

  .medium-potrait-offset-8 {
    position: relative;
    margin-left: 66.66667% !important;
  }

  .medium-potrait-offset-9 {
    position: relative;
    margin-left: 75% !important;
  }

  .medium-potrait-offset-10 {
    position: relative;
    margin-left: 83.33333% !important;
  }

  .column.medium-potrait-reset,
  .columns.medium-potrait-reset {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left;
  }

  /* block grid medium potrait */
  .medium-potrait-block-grid-1 > li {
    width: 100%;
    padding: 0 0.625rem 1.25rem;
    list-style: none;
  }

  .medium-potrait-block-grid-1 > li:nth-of-type(n) {
    clear: none;
  }

  .medium-potrait-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both;
  }

  .medium-potrait-block-grid-2 > li {
    width: 50%;
    padding: 0 0.625rem 1.25rem;
    list-style: none;
  }

  .medium-potrait-block-grid-2 > li:nth-of-type(n) {
    clear: none;
  }

  .medium-potrait-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both;
  }

  .medium-potrait-block-grid-3 > li {
    width: 33.33333%;
    padding: 0 0.625rem 1.25rem;
    list-style: none;
  }

  .medium-potrait-block-grid-3 > li:nth-of-type(n) {
    clear: none;
  }

  .medium-potrait-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both;
  }

  .medium-potrait-block-grid-4 > li {
    width: 25%;
    padding: 0 0.625rem 1.25rem;
    list-style: none;
  }

  .medium-potrait-block-grid-4 > li:nth-of-type(n) {
    clear: none;
  }

  .medium-potrait-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both;
  }

  .medium-potrait-block-grid-5 > li {
    width: 20%;
    padding: 0 0.625rem 1.25rem;
    list-style: none;
  }

  .medium-potrait-block-grid-5 > li:nth-of-type(n) {
    clear: none;
  }

  .medium-potrait-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both;
  }

  .medium-potrait-block-grid-6 > li {
    width: 16.66667%;
    padding: 0 0.625rem 1.25rem;
    list-style: none;
  }

  .medium-potrait-block-grid-6 > li:nth-of-type(n) {
    clear: none;
  }

  .medium-potrait-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both;
  }

  .medium-potrait-block-grid-7 > li {
    width: 14.28571%;
    padding: 0 0.625rem 1.25rem;
    list-style: none;
  }

  .medium-potrait-block-grid-7 > li:nth-of-type(n) {
    clear: none;
  }

  .medium-potrait-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both;
  }

  .medium-potrait-block-grid-8 > li {
    width: 12.5%;
    padding: 0 0.625rem 1.25rem;
    list-style: none;
  }

  .medium-potrait-block-grid-8 > li:nth-of-type(n) {
    clear: none;
  }

  .medium-potrait-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both;
  }

  .medium-potrait-block-grid-9 > li {
    width: 11.11111%;
    padding: 0 0.625rem 1.25rem;
    list-style: none;
  }

  .medium-potrait-block-grid-9 > li:nth-of-type(n) {
    clear: none;
  }

  .medium-potrait-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both;
  }

  .medium-potrait-block-grid-10 > li {
    width: 10%;
    padding: 0 0.625rem 1.25rem;
    list-style: none;
  }

  .medium-potrait-block-grid-10 > li:nth-of-type(n) {
    clear: none;
  }

  .medium-potrait-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both;
  }

  .medium-potrait-block-grid-11 > li {
    width: 9.09091%;
    padding: 0 0.625rem 1.25rem;
    list-style: none;
  }

  .medium-potrait-block-grid-11 > li:nth-of-type(n) {
    clear: none;
  }

  .medium-potrait-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both;
  }

  .medium-potrait-block-grid-12 > li {
    width: 8.33333%;
    padding: 0 0.625rem 1.25rem;
    list-style: none;
  }

  .medium-potrait-block-grid-12 > li:nth-of-type(n) {
    clear: none;
  }

  .medium-potrait-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both;
  }

  .rowfull .left-bg {
    display: none !important;
  }

  .rowfull .right-bg {
    width: 100% !important;
  }

  header .menu-content {
    padding-left: 1.40625rem !important;
    width: 100% !important;
  }
  header .mo-menu {
    padding-left: 0 !important;
  }
  header .header-info1 {
    float: right !important;
  }
  header .mo-menu:not(.mo-menu-vertical) > li > a {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
  header .mo-menu:not(.mo-menu-vertical) > li > a.has-submenu {
    padding-right: 12px !important;
  }

  .header3 .menu-content {
    float: left;
    padding-left: 0 !important;
    width: auto !important;
  }

  .promo-section p {
    display: none;
  }

  #promo-home .medium-potrait-6 {
    margin-bottom: 20px !important;
  }

  #service .sub-service {
    width: 80% !important;
  }

  .maleo-index-tab .circle-shape,
  .maleo-index-tab .square-shape,
  .maleo-index-tab .hexagon-shape,
  .maleo-index-tab .radius-shape,
  .maleo-index-tab .heart-shape,
  .maleo-index-tab .shield-shape,
  .maleo-index-tab .cloud-chape {
    display: none !important;
  }
  .maleo-index-tab .feature-left {
    float: none !important;
    margin-bottom: 0 !important;
  }
  .maleo-index-tab .maleo-tab-text {
    padding-top: 0 !important;
  }
  .maleo-index-tab h6 {
    display: block !important;
    margin-bottom: 0 !important;
  }
  .maleo-index-tab .resp-accordion.resp-tab-active {
    color: #fff !important;
  }
  .maleo-index-tab .resp-accordion.resp-tab-active h6 {
    color: #fff !important;
  }
  .maleo-index-tab .resp-tab-content {
    text-align: center !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  #parallax-index2 {
    background-position: 50% -10px !important;
  }

  #parallax-index3 {
    background-size: 1920px auto !important;
    background-position: 50% 230px !important;
  }

  #process .medium-potrait-12 {
    margin-bottom: 60px !important;
  }
  #process .medium-potrait-12:last-child {
    margin-bottom: 0 !important;
  }
  #process .feature-right.process p {
    padding-right: 40px;
  }
  #process .feature-right.process .no-shape {
    margin-top: -26px !important;
  }

  ul.service-list li {
    background-image: linear-gradient(to bottom, #73d3d9 100%, #73d3d9 100%) !important;
  }
  ul.service-list li:nth-child(2n-1) {
    background-image: none !important;
  }

  ul.service-list li:nth-child(1):before, ul.service-list li:nth-child(2):before {
    background-image: none !important;
  }
  ul.service-list li:before {
    background-image: linear-gradient(to right, #73d3d9 100%, #73d3d9 100%) !important;
  }

  #team {
    background-size: 1920px auto !important;
  }

  #team .img-team {
    top: 0 !important;
    margin-right: 0 !important;
  }

  .potrait-panel {
    margin-bottom: 60px !important;
  }

  #feature {
    padding-top: 150px !important;
    padding-bottom: 0px !important;
  }
  #feature .columns:first-child {
    border-right: none !important;
  }
  #feature .columns:first-child .feature-right {
    padding-right: 0 !important;
    margin-bottom: 70px !important;
  }
  #feature .columns:last-child .feature-right {
    padding-left: 0 !important;
  }

  #parallax-index5 {
    background-size: 1920px auto !important;
    background-position: center center !important;
  }

  .highlight-index {
    line-height: 52px;
  }

  .blog-media1 img {
    height: 200px !important;
  }

  .front-blog.mo-tablet .date {
    width: 78px !important;
    font-size: 26px !important;
  }

  .front-blog span.month {
    font-size: 12px !important;
  }

  .front-blog.mo-tablet li:last-child {
    display: inline-block !important;
  }

  .front-blog .post-info li {
    margin-right: 20px !important;
  }

  .post-info .mo-rating {
    margin-top: 23px !important;
  }

  .blog-content2 p.blog-date {
    margin-bottom: 17px !important;
  }
  .blog-content2 p.blog-date span {
    font-size: 11px;
  }

  .blog-content3 .mo-media {
    margin-top: 7px !important;
    margin-bottom: 30px !important;
  }

  .blog-content2 .blog-info {
    margin-top: 20px !important;
  }

  p.blog-date {
    margin-top: -6px !important;
    margin-bottom: 5px !important;
  }

  .blog-info {
    margin-top: 20px !important;
  }

  #about-parallax {
    background-size: 1920px auto !important;
    background-position: center 150px !important;
  }

  .about-team img.img-left {
    margin-right: 40px !important;
  }
  .about-team img.img-right {
    margin-left: 40px !important;
  }
  .about-team .content-team {
    padding-top: 10px !important;
  }

  #client-logo li {
    border-right: 1px solid #e6e6e6 !important;
    border-bottom: 1px solid #e6e6e6 !important;
  }
  #client-logo li:nth-child(9), #client-logo li:nth-child(10) {
    border-bottom: none !important;
  }

  .mo-icon-list [class^="smico-"],
  .mo-icon-list [class*=" smico-"] {
    left: 35px !important;
  }

  footer .social-content {
    padding-left: 1.40625rem !important;
    padding-right: 1.40625rem !important;
  }

  footer .footer-logo {
    margin-bottom: 40px !important;
  }
}
/* Mobile Landscape */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #mo-wrapper.box {
    width: 100% !important;
  }

  .separator hr, .separator-inner hr {
    width: 515px !important;
    background-size: 515px 69px !important;
    left: 25px !important;
    height: 69px !important;
  }

  .column.small-center,
  .columns.small-center {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  .separator.columns {
    margin-bottom: -5px !important;
  }

  .tp-leftarrow.default,
  .tp-rightarrow.default {
    display: none;
  }

  .rowfull .left-bg {
    display: none !important;
  }

  .rowfull .right-bg {
    width: 100% !important;
  }

  #service .sub-service {
    width: 80% !important;
  }

  ul.service-list li {
    background-image: none !important;
  }

  ul.service-list li:nth-child(1):before {
    background-image: none !important;
  }
  ul.service-list li:before {
    background-image: linear-gradient(to right, #73d3d9 100%, #73d3d9 100%) !important;
  }

  #process .small-12 {
    margin-bottom: 60px !important;
  }
  #process .small-12:last-child {
    margin-bottom: 0 !important;
  }
  #process .feature-right.process p {
    padding-right: 40px;
  }
  #process .feature-right.process .no-shape {
    margin-top: -26px !important;
  }

  #feature {
    padding-top: 80px !important;
    padding-bottom: 0px !important;
  }
  #feature .columns:first-child .feature-right {
    padding-right: 0 !important;
    margin-bottom: 70px !important;
  }
  #feature .columns:last-child .feature-right {
    padding-left: 0 !important;
  }

  .image-box-right {
    margin-top: 50px;
    padding-right: 1.40625rem !important;
  }

  #team {
    background-size: 1920px auto !important;
    background-repeat: repeat-y !important;
  }
  #team .img-team {
    top: 0 !important;
    margin-right: 0 !important;
  }

  #carousel-team .mo-caption {
    float: none !important;
  }

  .maleo-index-tab .circle-shape,
  .maleo-index-tab .square-shape,
  .maleo-index-tab .hexagon-shape,
  .maleo-index-tab .radius-shape,
  .maleo-index-tab .heart-shape,
  .maleo-index-tab .shield-shape,
  .maleo-index-tab .cloud-chape {
    display: none !important;
  }
  .maleo-index-tab .feature-left {
    float: none !important;
    margin-bottom: 0 !important;
  }
  .maleo-index-tab .maleo-tab-text {
    padding-top: 0 !important;
  }
  .maleo-index-tab h6 {
    display: block !important;
    margin-bottom: 0 !important;
  }
  .maleo-index-tab .resp-accordion.resp-tab-active {
    color: #fff !important;
  }
  .maleo-index-tab .resp-accordion.resp-tab-active h6 {
    color: #fff !important;
  }
  .maleo-index-tab .resp-tab-content {
    text-align: center !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  #parallax-index2 {
    background-position: 50% -140px !important;
  }

  .highlight-index {
    line-height: 52px;
  }

  .masonry {
    width: 100% !important;
    margin: 8px 0px 40px -8px !important;
  }

  .masonry li {
    margin-bottom: 12px !important;
  }

  .blog-media1 img {
    height: 288px !important;
  }

  .blog-media2 img {
    height: 259px !important;
  }

  p.blog-date {
    margin-top: 26px !important;
    margin-bottom: 5px !important;
  }

  .blog-info {
    margin-top: 77px !important;
  }

  .blog-content2 .blog-info {
    margin-top: 86px !important;
  }

  .blog-content3 .mo-media {
    margin-top: 20px;
    margin-bottom: 0px !important;
  }

  .potrait-panel {
    margin-bottom: 60px !important;
  }

  #feature-index .small-12 {
    margin-bottom: 30px !important;
  }

  #parallax-index6 {
    background-position: 50% -260px !important;
  }

  #about-parallax {
    background-size: 1920px auto !important;
    background-position: 50% 364px !important;
  }

  .about-team img {
    margin: 0 0 50px 0 !important;
    width: 100% !important;
  }
  .about-team .content-team {
    padding-top: 10px !important;
  }

  #client-logo li {
    border-right: none !important;
    border-bottom: 1px solid #e6e6e6 !important;
  }
  #client-logo li:nth-child(n+1) {
    border-right: 1px solid #e6e6e6 !important;
  }
  #client-logo li:nth-child(9), #client-logo li:nth-child(10) {
    border-bottom: none !important;
  }

  .blog-content {
    margin-left: 0 !important;
  }

  #commentform-wrap {
    width: 100% !important;
  }

  #comment ol li ol {
    margin: 0px 0px 20px 20px !important;
  }

  .mo-icon-list li {
    margin-bottom: 40px !important;
  }

  #demo-tab .large-6 {
    margin: 25px 0 !important;
  }

  #portfolio-filter {
    margin-bottom: 40px !important;
  }

  .post-info-left {
    display: none !important;
  }

  h4.resp-accordion .resp-arrow, .resp-tabs-list li .resp-arrow {
    top: 6px !important;
  }

  .mo-icon-list [class^="smico-"],
  .mo-icon-list [class*=" smico-"] {
    left: 25px !important;
  }

  #twitter-wrapper .twitter-mobile {
    margin-bottom: 40px !important;
  }

  .pagination {
    margin-top: 0px !important;
    margin-bottom: 60px !important;
  }

  footer .social-content {
    padding-left: 1.40625rem !important;
    padding-right: 1.40625rem !important;
  }

  footer .footer-logo {
    margin-bottom: 40px !important;
  }
}
/* Mobile Portrait */
@media only screen and (max-width: 479px) {
  #mo-wrapper.box {
    width: 100% !important;
  }

  .separator hr, .separator-inner hr {
    width: 300px !important;
    background-size: 300px 171px !important;
    left: 10px !important;
    height: 171px !important;
  }

  .tp-leftarrow.default,
  .tp-rightarrow.default {
    display: none;
  }

  .rowfull .left-bg {
    display: none !important;
  }

  .rowfull .right-bg {
    width: 100% !important;
  }

  .column.small-center,
  .columns.small-center {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  .column.small-potrait-center,
  .columns.small-potrait-center {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  .column.small-potrait-left,
  .columns.small-potrait-left {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }

  .column.small-potrait-right,
  .columns.small-potrait-right {
    float: right;
  }

  .small-potrait-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  .small-potrait-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  .small-potrait-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  .small-potrait-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  .small-potrait-push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  .small-potrait-pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  .small-potrait-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  .small-potrait-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  .small-potrait-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  .small-potrait-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  .small-potrait-push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  .small-potrait-pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  .small-potrait-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  .small-potrait-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  .small-potrait-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  .small-potrait-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  .small-potrait-push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  .small-potrait-pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  .small-potrait-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  .small-potrait-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  .small-potrait-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  .small-potrait-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  .column,
  .columns {
    position: relative;
    padding-left: 1.40625rem;
    padding-right: 1.40625rem;
    float: left;
  }

  .small-potrait-1 {
    position: relative;
    width: 8.33333%;
  }

  .small-potrait-2 {
    position: relative;
    width: 16.66667%;
  }

  .small-potrait-3 {
    position: relative;
    width: 25%;
  }

  .small-potrait-4 {
    position: relative;
    width: 33.33333%;
  }

  .small-potrait-5 {
    position: relative;
    width: 41.66667%;
  }

  .small-potrait-6 {
    position: relative;
    width: 50%;
  }

  .small-potrait-7 {
    position: relative;
    width: 58.33333%;
  }

  .small-potrait-8 {
    position: relative;
    width: 66.66667%;
  }

  .small-potrait-9 {
    position: relative;
    width: 75%;
  }

  .small-potrait-10 {
    position: relative;
    width: 83.33333%;
  }

  .small-potrait-11 {
    position: relative;
    width: 91.66667%;
  }

  .small-potrait-12 {
    position: relative;
    width: 100%;
  }

  [class*="column"] + [class*="column"]:last-child {
    float: left;
  }

  [class*="column"] + [class*="column"].end {
    float: left;
  }

  .small-potrait-offset-0 {
    position: relative;
    margin-left: 0% !important;
  }

  .small-potrait-offset-1 {
    position: relative;
    margin-left: 8.33333% !important;
  }

  .small-potrait-offset-2 {
    position: relative;
    margin-left: 16.66667% !important;
  }

  .small-potrait-offset-3 {
    position: relative;
    margin-left: 25% !important;
  }

  .small-potrait-offset-4 {
    position: relative;
    margin-left: 33.33333% !important;
  }

  .small-potrait-offset-5 {
    position: relative;
    margin-left: 41.66667% !important;
  }

  .small-potrait-offset-6 {
    position: relative;
    margin-left: 50% !important;
  }

  .small-potrait-offset-7 {
    position: relative;
    margin-left: 58.33333% !important;
  }

  .small-potrait-offset-8 {
    position: relative;
    margin-left: 66.66667% !important;
  }

  .small-potrait-offset-9 {
    position: relative;
    margin-left: 75% !important;
  }

  .small-potrait-offset-10 {
    position: relative;
    margin-left: 83.33333% !important;
  }

  .column.small-potrait-reset,
  .columns.small-potrait-reset {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left;
  }

  /* block grid small potrait */
  .small-potrait-block-grid-1 > li {
    width: 100%;
    padding: 0 0.625rem 1.25rem;
    list-style: none;
  }

  .small-potrait-block-grid-1 > li:nth-of-type(n) {
    clear: none;
  }

  .small-potrait-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both;
  }

  .small-potrait-block-grid-2 > li {
    width: 50%;
    padding: 0 0.625rem 1.25rem;
    list-style: none;
  }

  .small-potrait-block-grid-2 > li:nth-of-type(n) {
    clear: none;
  }

  .small-potrait-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both;
  }

  .small-potrait-block-grid-3 > li {
    width: 33.33333%;
    padding: 0 0.625rem 1.25rem;
    list-style: none;
  }

  .small-potrait-block-grid-3 > li:nth-of-type(n) {
    clear: none;
  }

  .small-potrait-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both;
  }

  .small-potrait-block-grid-4 > li {
    width: 25%;
    padding: 0 0.625rem 1.25rem;
    list-style: none;
  }

  .small-potrait-block-grid-4 > li:nth-of-type(n) {
    clear: none;
  }

  .small-potrait-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both;
  }

  .small-potrait-block-grid-5 > li {
    width: 20%;
    padding: 0 0.625rem 1.25rem;
    list-style: none;
  }

  .small-potrait-block-grid-5 > li:nth-of-type(n) {
    clear: none;
  }

  .small-potrait-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both;
  }

  .small-potrait-block-grid-6 > li {
    width: 16.66667%;
    padding: 0 0.625rem 1.25rem;
    list-style: none;
  }

  .small-potrait-block-grid-6 > li:nth-of-type(n) {
    clear: none;
  }

  .small-potrait-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both;
  }

  .small-potrait-block-grid-7 > li {
    width: 14.28571%;
    padding: 0 0.625rem 1.25rem;
    list-style: none;
  }

  .small-potrait-block-grid-7 > li:nth-of-type(n) {
    clear: none;
  }

  .small-potrait-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both;
  }

  .small-potrait-block-grid-8 > li {
    width: 12.5%;
    padding: 0 0.625rem 1.25rem;
    list-style: none;
  }

  .small-potrait-block-grid-8 > li:nth-of-type(n) {
    clear: none;
  }

  .small-potrait-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both;
  }

  .small-potrait-block-grid-9 > li {
    width: 11.11111%;
    padding: 0 0.625rem 1.25rem;
    list-style: none;
  }

  .small-potrait-block-grid-9 > li:nth-of-type(n) {
    clear: none;
  }

  .small-potrait-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both;
  }

  .small-potrait-block-grid-10 > li {
    width: 10%;
    padding: 0 0.625rem 1.25rem;
    list-style: none;
  }

  .small-potrait-block-grid-10 > li:nth-of-type(n) {
    clear: none;
  }

  .small-potrait-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both;
  }

  .small-potrait-block-grid-11 > li {
    width: 9.09091%;
    padding: 0 0.625rem 1.25rem;
    list-style: none;
  }

  .small-potrait-block-grid-11 > li:nth-of-type(n) {
    clear: none;
  }

  .small-potrait-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both;
  }

  .small-potrait-block-grid-12 > li {
    width: 8.33333%;
    padding: 0 0.625rem 1.25rem;
    list-style: none;
  }

  .small-potrait-block-grid-12 > li:nth-of-type(n) {
    clear: none;
  }

  .small-potrait-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both;
  }

  .small-potrait-hide {
    display: none !important;
  }

  #service .sub-service {
    display: none !important;
  }

  ul.service-list li {
    background-image: none !important;
  }

  ul.service-list li:nth-child(1):before {
    background-image: none !important;
  }
  ul.service-list li:before {
    background-image: linear-gradient(to right, #73d3d9 100%, #73d3d9 100%) !important;
  }

  #feature {
    padding-top: 80px !important;
    padding-bottom: 0px !important;
  }
  #feature .feature-right .svg-icon,
  #feature .feature-right .no-shape {
    float: none !important;
    margin: 0px 0 30px 0px !important;
  }
  #feature .feature-right .svg-icon img,
  #feature .feature-right .no-shape img {
    margin-top: 0 !important;
  }
  #feature .columns:first-child {
    border-right: none !important;
  }
  #feature .columns:first-child .feature-right {
    padding-right: 0 !important;
    margin-bottom: 70px !important;
  }
  #feature .columns:last-child .feature-right {
    padding-left: 0 !important;
  }
  #feature .button {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  #team {
    background-size: 1920px auto !important;
    background-repeat: repeat-y !important;
  }
  #team .img-team {
    top: 0 !important;
    margin-right: 0 !important;
  }

  .progress-bar.thermo {
    width: 83% !important;
  }
  .progress-bar.thermo .progress-title {
    margin-left: -20% !important;
  }

  #carousel-team .mo-caption {
    float: none !important;
  }

  .header2 .header-info li:first-child {
    display: none;
  }

  .maleo-index-tab .circle-shape,
  .maleo-index-tab .square-shape,
  .maleo-index-tab .hexagon-shape,
  .maleo-index-tab .radius-shape,
  .maleo-index-tab .heart-shape,
  .maleo-index-tab .shield-shape,
  .maleo-index-tab .cloud-chape {
    display: none !important;
  }
  .maleo-index-tab .feature-left {
    float: none !important;
    margin-bottom: 0 !important;
  }
  .maleo-index-tab .maleo-tab-text {
    padding-top: 0 !important;
  }
  .maleo-index-tab h6 {
    display: block !important;
    margin-bottom: 0 !important;
  }
  .maleo-index-tab .resp-accordion.resp-tab-active {
    color: #fff !important;
  }
  .maleo-index-tab .resp-accordion.resp-tab-active h6 {
    color: #fff !important;
  }
  .maleo-index-tab .resp-tab-content {
    text-align: center !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  #twitter-wrapper .twitter-mobile {
    margin-bottom: 40px !important;
  }

  #process .large-6 {
    margin-bottom: 0px !important;
  }
  #process .feature-right .svg-icon,
  #process .feature-right .no-shape {
    margin: 15px 0 15px 0px !important;
    text-align: center;
    width: 100%;
  }
  #process .feature-right.process .process-number2 {
    left: 0 !important;
  }

  .highlight-index {
    line-height: 52px;
  }

  .masonry {
    width: 100% !important;
    margin: 8px 0px 40px -8px !important;
  }

  .masonry li {
    margin-bottom: 12px !important;
  }

  .blog-media1 img {
    height: 146px !important;
  }

  .blog-media2 {
    width: 100% !important;
  }

  .blog-media2 #instafeed {
    height: 270px !important;
    float: left !important;
  }

  .blog-media2 img {
    height: 270px !important;
    float: left !important;
  }

  .blog-media2 .video-play {
    top: 22.5% !important;
    left: 41% !important;
  }

  .blog-content2 {
    width: 100% !important;
  }

  p.blog-date {
    margin-top: 0px !important;
    margin-bottom: 5px !important;
  }

  .blog-info {
    margin-top: 32px !important;
  }

  .blog-media2 img {
    -webkit-border-top-left-radius: 6px !important;
    -webkit-border-top-right-radius: 6px !important;
    -moz-border-radius-topleft: 6px !important;
    -moz-border-radius-topright: 6px !important;
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
    -webkit-border-bottom-left-radius: 0px !important;
    -moz-border-radius-bottomleft: 0px !important;
    border-bottom-left-radius: 0px !important;
  }

  #parallax-index6 {
    background-position: 10% 170px !important;
  }

  #about-parallax {
    background-size: 1000px auto !important;
    background-position: 50% !important;
    background-repeat: repeat-y !important;
  }

  #client-logo li {
    border-right: none !important;
    border-bottom: 1px solid #e6e6e6 !important;
  }
  #client-logo li:nth-child(10) {
    border-bottom: none !important;
  }

  .blog-content {
    margin-left: 0 !important;
  }

  .post-info li {
    display: block !important;
  }

  .blog-author ul.social-icon li {
    margin-bottom: 13px !important;
  }

  #comment ol li ol {
    margin-left: 10px !important;
  }

  .comment-text {
    margin-left: 0px !important;
  }

  .avatar {
    width: 45px !important;
    height: 45px !important;
    position: relative !important;
    margin-bottom: -19px !important;
    left: -20px !important;
  }

  .avatar img {
    width: 45px !important;
    height: 45px !important;
  }

  #commentform-wrap {
    width: 100% !important;
  }

  ul.comment-form li input {
    width: 100% !important;
  }

  .post-info-left {
    display: none !important;
  }

  .pagination > li > a {
    margin-bottom: 15px;
  }

  footer .social-content {
    padding-left: 1.40625rem !important;
    padding-right: 1.40625rem !important;
  }

  footer .footer-logo {
    margin-bottom: 40px !important;
  }
}
