/* --------------------------------------------------------------------------
 * Prodigystudio  : Maleo - Multipurpose HTML Template
 *  
 * file           : Color Theme
 * Desc           : Maleo Framework - Theme Switcher
 * Version        : 1.1
 * Date           : 08/12/2014
 * Author         : Prodigystudio - team
 * Author URI     : http://prodigystudio.net
 * Email          : Hello@prodigystudio.net
 *
 * Prodigy Studio. Copyright 2014. All Rights Reserved.
 * -------------------------------------------------------------------------- */
::selection {
  background: #259500;
}

::-moz-selection {
  background: #259500;
}

.rowfull .left-bg, header .logo-content, .header2 .header-content:before, .header3 .header-content:before,  .header3 .client-content .signup:hover, .button, .slider-button.button, #service, #service .sub-service span, .heading-line, .inline-heading-line span, .tag-cloud a:hover, a.reply, a.reply:visited, h4.resp-accordion.resp-tab-active,
h4.resp-accordion.resp-tab-active:hover,
.resp-tabs-list li.resp-tab-active,
.resp-tabs-list li.resp-tab-active:hover, .label, .blog-info, footer .get-connect, footer .scroll-top:hover, .progress-bar .progress-content, .progress-bar.thin .progress-content .progress-meter, .mo-caption .content .preview,
.mo-caption .content .permalink, kbd, .highlight, .panel.fold, .pricing-table .title, .pricing-table.style2 .title, .pricing-table.style4 .price, .testi.style2 .name, .testi.style2 .name:before, .testi.style3 .testi-container blockquote:before, .testi.style4 .name span, table.table thead, .dropcap.circle,
.dropcap.square, .promo-box, .mejs-controls .mejs-time-rail .mejs-time-current,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background-color: #259500;
}

.slider-button.button:hover, .mo-caption .content .preview:hover,
.mo-caption .content .permalink:hover, .button.button-border:hover,
.button.button-border:focus,
.button.button-border:active,
.button.button-border.active, .pricing-table.style2 .price, .button:hover,
.button:focus,
.button:active,
.button.active {
  background-color: #259500;
}

.header3 .client-content .login:hover{ background:#259500; color:#fff;}

header .menu-trigger i, header .search-content .toggle-search, .header-info1 li.phone-info,
.header-info1 li.toggle-search, .header2 .header-info li i,  .header3 .toggle-search, .button.link, #promo-home h2, .maleo-color, .breadcrumb .active, .about-team h3, .about-team span, .about-team .social-wrapper .social-feature li a:hover, #twitter-wrapper #twitter-feed .twitter-text a, #twitter-wrapper #twitter-feed .twitter-text .at, .service-value .text-currency, .date-post-info, .blog-media .carousel-nav .carousel-prev:hover, .blog-media .carousel-nav .carousel-next:hover, .blog-author ul.social-icon, .blog-author ul.social-icon li i, h4.resp-accordion:hover,
h4.resp-accordion:focus,
.resp-tabs-list li:hover,
.resp-tabs-list li:focus, .maleo-index-tab h4.resp-accordion:hover h6, .maleo-index-tab h4.resp-accordion.resp-tab-active h6,
.maleo-index-tab .resp-tabs-list li:hover h6,
.maleo-index-tab .resp-tabs-list li.resp-tab-active h6, .maleo-index-tab h4.resp-accordion:hover, .maleo-index-tab h4.resp-accordion.resp-tab-active,
.maleo-index-tab .resp-tabs-list li:hover,
.maleo-index-tab .resp-tabs-list li.resp-tab-active,
.maleo-index-tab h4.resp-accordion:focus h6,
.maleo-index-tab .resp-tabs-list li:focus h6, .mo-menu a.active,
.mo-menu a.current,
.mo-menu a.current:hover,
.mo-menu a.current:focus,
.mo-menu a.current:active, p.blog-date a,
p.blog-date a:visited, .post-type, .button.button-border, .svg-icon .icon-wrapper i,
.svg-icon.style1 .icon-wrapper i,
.svg-icon.style2 .icon-wrapper i,
.no-shape i, .pricing-table.style4 .title, .promo-box .promo-button i, .pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: #259500;
}

a:hover, .button.link:hover, .button.link:focus, .button.link:hover i, .button.link:focus i, #slider-wrapper .tp-leftarrow.default:hover, #slider-wrapper .tp-leftarrow.default:focus,
#slider-wrapper .tp-rightarrow.default:hover,
#slider-wrapper .tp-rightarrow.default:focus, #twitter-wrapper #twitter-feed .twitter-text a:hover, #twitter-wrapper #twitter-feed .twitter-text a:focus, #twitter-wrapper #twitter-feed .twitter-text .at:hover, #twitter-wrapper #twitter-feed .twitter-text .at:focus, .mo-menu a:hover, .mo-menu a:focus, .mo-menu a:active, .mo-menu a.highlighted, .mo-menu ul a:hover,
.mo-menu ul a:focus,
.mo-menu ul a:active,
.mo-menu ul a.highlighted, .mo-menu a:hover span.sub-arrow:after,
.mo-menu a:focus span.sub-arrow:after,
.mo-menu a:active span.sub-arrow:after,
.mo-menu a.highlighted span.sub-arrow:after, .mo-menu span.scroll-up:hover span.scroll-up-arrow:after, .mo-menu span.scroll-down:hover span.scroll-down-arrow:after, #portfolio-filter ul li a.selected, #portfolio-filter ul li a:hover, #portfolio-filter ul li a:focus, .blog-media2 .video-play:hover, #process-chart .button:hover, .post-info a:hover,
.post-info a:focus, .pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #259500;
}

.header-info1 li.phone-info,
.header-info1 li.toggle-search {
  border: 2px solid #55bb11;
}

.header3 .toggle-search {
  border: 2px solid #55bb11;
}
.header3 .input-group .toggle-search {
  border: none !important;
  /* height: 29px!important; */
  padding-top: 10px;
  padding-bottom: 0;
  margin: 0;
  line-height: 14px;
}

.tp-bannertimer {
  background: rgba(139, 195, 74, 0.2);
}

#service .sub-service {
  background: #55bb11 !important;
}

ul.service-list li,
ul.client-list li {
  background-image: linear-gradient(to bottom, #b0d683 100%, #b0d683 100%);
}

ul.service-list li:before,
ul.client-list li:before {
  background-image: linear-gradient(to right, #b0d683 100%, #b0d683 100%);
}

.date-post-info, .image-post-info {
  border: 2px solid #55bb11;
}

.tag-cloud a:hover {
  border: 1px solid #55bb11;
}

ul.contact-form .form-control:focus,
ul.comment-form .form-control:focus,
.login-panel .form-control:focus {
  border-color: #55bb11;
  -webkit-box-shadow: inset 0 1px 1px rgba(139, 195, 74, 0.075), 0 0 8px rgba(139, 195, 74, 0.6);
  box-shadow: inset 0 1px 1px rgba(139, 195, 74, 0.075), 0 0 8px rgba(139, 195, 74, 0.6);
}

h4.resp-accordion.resp-tab-active,
h4.resp-accordion.resp-tab-active:hover,
.resp-tabs-list li.resp-tab-active,
.resp-tabs-list li.resp-tab-active:hover {
  border: 1px solid #55bb11;
}

.maleo-index-tab h4.resp-accordion:hover .svg-icon .svg-path,
.maleo-index-tab h4.resp-accordion:hover .svg-icon.style1 .svg-path, .maleo-index-tab h4.resp-accordion.resp-tab-active .svg-icon .svg-path,
.maleo-index-tab h4.resp-accordion.resp-tab-active .svg-icon.style1 .svg-path,
.maleo-index-tab .resp-tabs-list li:hover .svg-icon .svg-path,
.maleo-index-tab .resp-tabs-list li:hover .svg-icon.style1 .svg-path,
.maleo-index-tab .resp-tabs-list li.resp-tab-active .svg-icon .svg-path,
.maleo-index-tab .resp-tabs-list li.resp-tab-active .svg-icon.style1 .svg-path {
  stroke: #55bb11 !important;
}
.maleo-index-tab h4.resp-accordion:hover .svg-icon .svg-path,
.maleo-index-tab h4.resp-accordion:hover .svg-icon.style1 .svg-path,
.maleo-index-tab .resp-tabs-list li:hover .svg-icon .svg-path,
.maleo-index-tab .resp-tabs-list li:hover .svg-icon.style1 .svg-path {
  stroke: #55bb11 !important;
}
.maleo-index-tab .resp-tabs-list li.resp-tab-active,
.maleo-index-tab .resp-tabs-list li.resp-tab-active:hover {
  background: none !important;
}
.maleo-index-tab .resp-tabs-list li.resp-tab-active {
  border: none !important;
}

.maleo-tab h4.resp-accordion.resp-tab-active,
.maleo-tab h4.resp-accordion.resp-tab-active:hover,
.maleo-tab .resp-tabs-list li.resp-tab-active,
.maleo-tab .resp-tabs-list li.resp-tab-active:hover {
  border: none !important;
}
.maleo-tab .resp-tabs-list li.resp-tab-active:hover {
  background-color: #fff;
}

@media screen and (max-width: 700px) {
  .mo-menu .mega-menu-list li a:hover,
  .mo-menu .mega-menu-list li a:focus,
  .mo-menu .mega-menu-list li a:active {
    color: #55bb11 !important;
  }
}
#portfolio-filter ul li a.selected, #portfolio-filter ul li a:hover, #portfolio-filter ul li a:focus {
  border-color: #55bb11;
}

.mo-caption .content .preview,
.mo-caption .content .permalink {
  opacity: 1;
}

.button.button-border {
  border-color: #55bb11;
}

.button.button-border:hover,
.button.button-border:focus,
.button.button-border:active,
.button.button-border.active {
  border: 2px solid #55bb11;
}

.svg-icon.style3 .svg-path {
  fill: #55bb11;
}

.panel.fold:before {
  border-color: white white #55bb11 #577d2a;
}

.testi.style2 .name:before {
  border-left: 8px solid #55bb11;
  border-top: 8px solid #55bb11;
}

.testi.style3 .testi-container blockquote:before {
  -webkit-box-shadow: 0px 0px 0px 3px #55bb11;
  -moz-box-shadow: 0px 0px 0px 3px #55bb11;
  box-shadow: 0px 0px 0px 3px #55bb11;
}

.testi.style6 .name h4 {
  background-color: rgba(139, 195, 74, 0.7);
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  border-color: #55bb11;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  border-color: #55bb11;
}

.Domain {
padding:15px 15px 1px 15px;
/*position: absolute;*/ 
background-color: #f99a00;
border: 1px solid #EB9100;
z-index: 99;
-webkit-border-top-left-radius: 20px;
-webkit-border-top-right-radius: 20px;
-moz-border-radius-topleft: 20px;
-moz-border-radius-topright: 20px;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
margin-top:-1px;
}
.Domain select { padding: 9px; border: 0;
 /*margin-top: 11px;*/ /*border-radius: 3px;*/ outline: none; width:100%;}
.Domain h4 {
    margin: 15px 0;
    border-right: 1px solid #ccc;
}
#promo-home-top {
    padding: 0 0;
}