/* --------------------------------------------------------------------------
 * Prodigystudio  : Maleo - Multipurpose HTML Template
 *  
 * file           : revolution-responsive.css
 * Desc           : Maleo Template - CSS Responsive Plugin
 * Version        : 1.0
 * Date           : 07/21/2014
 * Author         : Prodigystudio - team
 * Author URI     : http://prodigystudio.net
 * Email          : hello@prodigystudio.net
 *
 * Prodigy Studio. Copyright 2014. All Rights Reserved.
 * --------------------------------------------------------------------------
 * Pixelbuddha    : Small Icon
 * Author		  : Nick Frost and Greg Lapin
 * Author URI 	  : http://pixelbuddha.net/
 * License 		  : http://smallicons.net/upload/license.pdf  
 * -------------------------------------------------------------------------- */

[class^="smico-"], 
[class*=" smico-"] { 
	float: left; 
	width: 90px; 
	height: 90px; 
	background-size: 90px 90px !important;
}

[class^="smico-"].small, 
[class*=" smico-"].small { 
	width: 60px; 
	height: 60px; 
	background-size: 60px 60px !important;
}

[class^="smico-"].large,
[class*=" smico-"].large { 
	width: 120px; 
	height: 120px; 
	background-size: 120px 120px !important;
}

.smico-45-left-down { background: url("../img/small-icon/control/45-left-down.png") no-repeat; }
.smico-45-left-top { background: url("../img/small-icon/control/45-left-top.png") no-repeat; }
.smico-45-right-down { background: url("../img/small-icon/control/45-right-down.png") no-repeat; }
.smico-45-right-top { background: url("../img/small-icon/control/45-right-top.png") no-repeat; }
.smico-anchors { background: url("../img/small-icon/control/anchors.png") no-repeat; }
.smico-back { background: url("../img/small-icon/control/back.png") no-repeat; }
.smico-backward { background: url("../img/small-icon/control/backward.png") no-repeat; }
.smico-battery-charging { background: url("../img/small-icon/control/battery-charging.png") no-repeat; }
.smico-battery-full { background: url("../img/small-icon/control/battery-full.png") no-repeat; }
.smico-battery-low { background: url("../img/small-icon/control/battery-low.png") no-repeat; }
.smico-battery-medium { background: url("../img/small-icon/control/battery-medium.png") no-repeat; }
.smico-battery-null { background: url("../img/small-icon/control/battery-null.png") no-repeat; }
.smico-big-grid { background: url("../img/small-icon/control/big-grid.png") no-repeat; }
.smico-bluetoot { background: url("../img/small-icon/control/bluetoot.png") no-repeat; }
.smico-center-text { background: url("../img/small-icon/control/center-text.png") no-repeat; }
.smico-change-position { background: url("../img/small-icon/control/change-position.png") no-repeat; }
.smico-check { background: url("../img/small-icon/control/check.png") no-repeat; }
.smico-close-green { background: url("../img/small-icon/control/close-green.png") no-repeat; }
.smico-close-red { background: url("../img/small-icon/control/close-red.png") no-repeat; }
.smico-cloud-check { background: url("../img/small-icon/control/cloud-check.png") no-repeat; }
.smico-cloud-down { background: url("../img/small-icon/control/cloud-down.png") no-repeat; }
.smico-cloud-error { background: url("../img/small-icon/control/cloud-error.png") no-repeat; }
.smico-cloud-refresh { background: url("../img/small-icon/control/cloud-refresh.png") no-repeat; }
.smico-cloud-up { background: url("../img/small-icon/control/cloud-up.png") no-repeat; }
.smico-collaps { background: url("../img/small-icon/control/collaps.png") no-repeat; }
.smico-div { background: url("../img/small-icon/control/div.png") no-repeat; }
.smico-down { background: url("../img/small-icon/control/down.png") no-repeat; }
.smico-download { background: url("../img/small-icon/control/download.png") no-repeat; }
.smico-download-2 { background: url("../img/small-icon/control/download-2.png") no-repeat; }
.smico-eight { background: url("../img/small-icon/control/eight.png") no-repeat; }
.smico-eject { background: url("../img/small-icon/control/eject.png") no-repeat; }
.smico-equal { background: url("../img/small-icon/control/equal.png") no-repeat; }
.smico-exclamation { background: url("../img/small-icon/control/exclamation.png") no-repeat; }
.smico-expand { background: url("../img/small-icon/control/expand.png") no-repeat; }
.smico-five { background: url("../img/small-icon/control/five.png") no-repeat; }
.smico-forward { background: url("../img/small-icon/control/forward.png") no-repeat; }
.smico-four { background: url("../img/small-icon/control/four.png") no-repeat; }
.smico-fullscreen { background: url("../img/small-icon/control/fullscreen.png") no-repeat; }
.smico-grid { background: url("../img/small-icon/control/grid.png") no-repeat; }
.smico-justify { background: url("../img/small-icon/control/justify.png") no-repeat; }
.smico-left { background: url("../img/small-icon/control/left.png") no-repeat; }
.smico-left-align-text { background: url("../img/small-icon/control/left-align-text.png") no-repeat; }
.smico-list { background: url("../img/small-icon/control/list.png") no-repeat; }
.smico-marquee { background: url("../img/small-icon/control/marquee.png") no-repeat; }
.smico-minus { background: url("../img/small-icon/control/minus.png") no-repeat; }
.smico-narrow { background: url("../img/small-icon/control/narrow.png") no-repeat; }
.smico-network { background: url("../img/small-icon/control/network.png") no-repeat; }
.smico-next { background: url("../img/small-icon/control/next.png") no-repeat; }
.smico-nine { background: url("../img/small-icon/control/nine.png") no-repeat; }
.smico-one { background: url("../img/small-icon/control/one.png") no-repeat; }
.smico-pause { background: url("../img/small-icon/control/pause.png") no-repeat; }
.smico-play { background: url("../img/small-icon/control/play.png") no-repeat; }
.smico-plus { background: url("../img/small-icon/control/plus.png") no-repeat; }
.smico-power { background: url("../img/small-icon/control/power.png") no-repeat; }
.smico-record { background: url("../img/small-icon/control/record.png") no-repeat; }
.smico-refresh { background: url("../img/small-icon/control/refresh.png") no-repeat; }
.smico-refresh-2 { background: url("../img/small-icon/control/refresh-2.png") no-repeat; }
.smico-repeat { background: url("../img/small-icon/control/repeat.png") no-repeat; }
.smico-right { background: url("../img/small-icon/control/right.png") no-repeat; }
.smico-right-align-text { background: url("../img/small-icon/control/right-align-text.png") no-repeat; }
.smico-seven { background: url("../img/small-icon/control/seven.png") no-repeat; }
.smico-shuffle { background: url("../img/small-icon/control/shuffle.png") no-repeat; }
.smico-sitemap { background: url("../img/small-icon/control/sitemap.png") no-repeat; }
.smico-sitemap-2 { background: url("../img/small-icon/control/sitemap-2.png") no-repeat; }
.smico-sitemap-3 { background: url("../img/small-icon/control/sitemap-3.png") no-repeat; }
.smico-six { background: url("../img/small-icon/control/six.png") no-repeat; }
.smico-stop { background: url("../img/small-icon/control/stop.png") no-repeat; }
.smico-strech { background: url("../img/small-icon/control/strech.png") no-repeat; }
.smico-three { background: url("../img/small-icon/control/three.png") no-repeat; }
.smico-two { background: url("../img/small-icon/control/two.png") no-repeat; }
.smico-up { background: url("../img/small-icon/control/up.png") no-repeat; }
.smico-upload { background: url("../img/small-icon/control/upload.png") no-repeat; }
.smico-upload-2 { background: url("../img/small-icon/control/upload-2.png") no-repeat; }
.smico-volume-big { background: url("../img/small-icon/control/volume-big.png") no-repeat; }
.smico-volume-mini { background: url("../img/small-icon/control/volume-mini.png") no-repeat; }
.smico-volume-minus { background: url("../img/small-icon/control/volume-minus.png") no-repeat; }
.smico-volume-mute { background: url("../img/small-icon/control/volume-mute.png") no-repeat; }
.smico-volume-plus { background: url("../img/small-icon/control/volume-plus.png") no-repeat; }
.smico-wi-fi { background: url("../img/small-icon/control/wi-fi.png") no-repeat; }
.smico-zero { background: url("../img/small-icon/control/zero.png") no-repeat; }
.smico-bamboo { background: url("../img/small-icon/devices/bamboo.png") no-repeat; }
.smico-galaxy { background: url("../img/small-icon/devices/galaxy.png") no-repeat; }
.smico-htc-one { background: url("../img/small-icon/devices/htc-one.png") no-repeat; }
.smico-imac { background: url("../img/small-icon/devices/imac.png") no-repeat; }
.smico-ipad { background: url("../img/small-icon/devices/ipad.png") no-repeat; }
.smico-iphone { background: url("../img/small-icon/devices/iphone.png") no-repeat; }
.smico-keyboard { background: url("../img/small-icon/devices/keyboard.png") no-repeat; }
.smico-macbook { background: url("../img/small-icon/devices/macbook.png") no-repeat; }
.smico-mouse { background: url("../img/small-icon/devices/mouse.png") no-repeat; }
.smico-printer { background: url("../img/small-icon/devices/printer.png") no-repeat; }
.smico-ai { background: url("../img/small-icon/docs/ai.png") no-repeat; }
.smico-ai-minus { background: url("../img/small-icon/docs/ai-minus.png") no-repeat; }
.smico-ai-plus { background: url("../img/small-icon/docs/ai-plus.png") no-repeat; }
.smico-ai-2 { background: url("../img/small-icon/docs/ai-2.png") no-repeat; }
.smico-ai-2-minus { background: url("../img/small-icon/docs/ai-2-minus.png") no-repeat; }
.smico-ai-2-plus { background: url("../img/small-icon/docs/ai-2-plus.png") no-repeat; }
.smico-archive { background: url("../img/small-icon/docs/archive.png") no-repeat; }
.smico-archive-download { background: url("../img/small-icon/docs/archive-download.png") no-repeat; }
.smico-archive-upload { background: url("../img/small-icon/docs/archive-upload.png") no-repeat; }
.smico-doc-archive { background: url("../img/small-icon/docs/doc-archive.png") no-repeat; }
.smico-folder { background: url("../img/small-icon/docs/folder.png") no-repeat; }
.smico-folder-minus { background: url("../img/small-icon/docs/folder-minus.png") no-repeat; }
.smico-folder-plus { background: url("../img/small-icon/docs/folder-plus.png") no-repeat; }
.smico-folder-upload { background: url("../img/small-icon/docs/folder-upload.png") no-repeat; }
.smico-letter { background: url("../img/small-icon/docs/letter.png") no-repeat; }
.smico-open-letter { background: url("../img/small-icon/docs/open-letter.png") no-repeat; }
.smico-pdf { background: url("../img/small-icon/docs/pdf.png") no-repeat; }
.smico-pdf-minus { background: url("../img/small-icon/docs/pdf-minus.png") no-repeat; }
.smico-pdf-plus { background: url("../img/small-icon/docs/pdf-plus.png") no-repeat; }
.smico-pdf-2 { background: url("../img/small-icon/docs/pdf-2.png") no-repeat; }
.smico-pdf-2-minus { background: url("../img/small-icon/docs/pdf-2-minus.png") no-repeat; }
.smico-pdf-2-plus { background: url("../img/small-icon/docs/pdf-2-plus.png") no-repeat; }
.smico-psd { background: url("../img/small-icon/docs/psd.png") no-repeat; }
.smico-psd-minus { background: url("../img/small-icon/docs/psd-minus.png") no-repeat; }
.smico-psd-plus { background: url("../img/small-icon/docs/psd-plus.png") no-repeat; }
.smico-psd-2 { background: url("../img/small-icon/docs/psd-2.png") no-repeat; }
.smico-psd-2-minus { background: url("../img/small-icon/docs/psd-2-minus.png") no-repeat; }
.smico-psd-2-plus { background: url("../img/small-icon/docs/psd-2-plus.png") no-repeat; }
.smico-table { background: url("../img/small-icon/docs/table.png") no-repeat; }
.smico-table-minus { background: url("../img/small-icon/docs/table-minus.png") no-repeat; }
.smico-table-plus { background: url("../img/small-icon/docs/table-plus.png") no-repeat; }
.smico-table-2 { background: url("../img/small-icon/docs/table-2.png") no-repeat; }
.smico-table-2-minus { background: url("../img/small-icon/docs/table-2-minus.png") no-repeat; }
.smico-table-2-plus { background: url("../img/small-icon/docs/table-2-plus.png") no-repeat; }
.smico-text { background: url("../img/small-icon/docs/text.png") no-repeat; }
.smico-text-minus { background: url("../img/small-icon/docs/text-minus.png") no-repeat; }
.smico-text-plus { background: url("../img/small-icon/docs/text-plus.png") no-repeat; }
.smico-text-2 { background: url("../img/small-icon/docs/text-2.png") no-repeat; }
.smico-text-2-minus { background: url("../img/small-icon/docs/text-2-minus.png") no-repeat; }
.smico-text-2-plus { background: url("../img/small-icon/docs/text-2-plus.png") no-repeat; }
.smico-amex { background: url("../img/small-icon/e-commerce/amex.png") no-repeat; }
.smico-barcode { background: url("../img/small-icon/e-commerce/barcode.png") no-repeat; }
.smico-basket { background: url("../img/small-icon/e-commerce/basket.png") no-repeat; }
.smico-basket-minus { background: url("../img/small-icon/e-commerce/basket-minus.png") no-repeat; }
.smico-basket-plus { background: url("../img/small-icon/e-commerce/basket-plus.png") no-repeat; }
.smico-bill { background: url("../img/small-icon/e-commerce/bill.png") no-repeat; }
.smico-bitcoin { background: url("../img/small-icon/e-commerce/bitcoin.png") no-repeat; }
.smico-calc { background: url("../img/small-icon/e-commerce/calc.png") no-repeat; }
.smico-card { background: url("../img/small-icon/e-commerce/card.png") no-repeat; }
.smico-cashbox { background: url("../img/small-icon/e-commerce/cashbox.png") no-repeat; }
.smico-coin { background: url("../img/small-icon/e-commerce/coin.png") no-repeat; }
.smico-coins { background: url("../img/small-icon/e-commerce/coins.png") no-repeat; }
.smico-discover { background: url("../img/small-icon/e-commerce/discover.png") no-repeat; }
.smico-dollar { background: url("../img/small-icon/e-commerce/dollar.png") no-repeat; }
.smico-euro { background: url("../img/small-icon/e-commerce/euro.png") no-repeat; }
.smico-google-wallet { background: url("../img/small-icon/e-commerce/google-wallet.png") no-repeat; }
.smico-label { background: url("../img/small-icon/e-commerce/label.png") no-repeat; }
.smico-maestro { background: url("../img/small-icon/e-commerce/maestro.png") no-repeat; }
.smico-mastercard { background: url("../img/small-icon/e-commerce/mastercard.png") no-repeat; }
.smico-money { background: url("../img/small-icon/e-commerce/money.png") no-repeat; }
.smico-money-2 { background: url("../img/small-icon/e-commerce/money-2.png") no-repeat; }
.smico-new { background: url("../img/small-icon/e-commerce/new.png") no-repeat; }
.smico-paypal { background: url("../img/small-icon/e-commerce/paypal.png") no-repeat; }
.smico-percent { background: url("../img/small-icon/e-commerce/percent.png") no-repeat; }
.smico-pound { background: url("../img/small-icon/e-commerce/pound.png") no-repeat; }
.smico-store { background: url("../img/small-icon/e-commerce/store.png") no-repeat; }
.smico-visa { background: url("../img/small-icon/e-commerce/visa.png") no-repeat; }
.smico-visa-2 { background: url("../img/small-icon/e-commerce/visa-2.png") no-repeat; }
.smico-wallet { background: url("../img/small-icon/e-commerce/wallet.png") no-repeat; }
.smico-yena { background: url("../img/small-icon/e-commerce/yena.png") no-repeat; }
.smico-bread { background: url("../img/small-icon/food-drinks/bread.png") no-repeat; }
.smico-cocktail { background: url("../img/small-icon/food-drinks/cocktail.png") no-repeat; }
.smico-coffee { background: url("../img/small-icon/food-drinks/coffee.png") no-repeat; }
.smico-coffee-2 { background: url("../img/small-icon/food-drinks/coffee-2.png") no-repeat; }
.smico-donut { background: url("../img/small-icon/food-drinks/donut.png") no-repeat; }
.smico-egg { background: url("../img/small-icon/food-drinks/egg.png") no-repeat; }
.smico-hamburger { background: url("../img/small-icon/food-drinks/hamburger.png") no-repeat; }
.smico-hotdog { background: url("../img/small-icon/food-drinks/hotdog.png") no-repeat; }
.smico-ice-1 { background: url("../img/small-icon/food-drinks/ice-1.png") no-repeat; }
.smico-ice-2 { background: url("../img/small-icon/food-drinks/ice-2.png") no-repeat; }
.smico-kettle { background: url("../img/small-icon/food-drinks/kettle.png") no-repeat; }
.smico-lemon { background: url("../img/small-icon/food-drinks/lemon.png") no-repeat; }
.smico-milk { background: url("../img/small-icon/food-drinks/milk.png") no-repeat; }
.smico-muffin { background: url("../img/small-icon/food-drinks/muffin.png") no-repeat; }
.smico-pizza { background: url("../img/small-icon/food-drinks/pizza.png") no-repeat; }
.smico-tea { background: url("../img/small-icon/food-drinks/tea.png") no-repeat; }
.smico-toaster { background: url("../img/small-icon/food-drinks/toaster.png") no-repeat; }
.smico-toque { background: url("../img/small-icon/food-drinks/toque.png") no-repeat; }
.smico-tray { background: url("../img/small-icon/food-drinks/tray.png") no-repeat; }
.smico-wine { background: url("../img/small-icon/food-drinks/wine.png") no-repeat; }
.smico-facebook { background: url("../img/small-icon/logotypes/facebook.png") no-repeat; }
.smico-amazon { background: url("../img/small-icon/logotypes/amazon.png") no-repeat; }
.smico-android { background: url("../img/small-icon/logotypes/android.png") no-repeat; }
.smico-apple { background: url("../img/small-icon/logotypes/apple.png") no-repeat; }
.smico-appstore { background: url("../img/small-icon/logotypes/appstore.png") no-repeat; }
.smico-behance { background: url("../img/small-icon/logotypes/behance.png") no-repeat; }
.smico-bloger { background: url("../img/small-icon/logotypes/bloger.png") no-repeat; }
.smico-chrome { background: url("../img/small-icon/logotypes/chrome.png") no-repeat; }
.smico-delicious { background: url("../img/small-icon/logotypes/delicious.png") no-repeat; }
.smico-deviantart { background: url("../img/small-icon/logotypes/deviantart.png") no-repeat; }
.smico-dribbble { background: url("../img/small-icon/logotypes/dribbble.png") no-repeat; }
.smico-dropbox { background: url("../img/small-icon/logotypes/dropbox.png") no-repeat; }
.smico-firefox { background: url("../img/small-icon/logotypes/firefox.png") no-repeat; }
.smico-flickr { background: url("../img/small-icon/logotypes/flickr.png") no-repeat; }
.smico-forrst { background: url("../img/small-icon/logotypes/forrst.png") no-repeat; }
.smico-github { background: url("../img/small-icon/logotypes/github.png") no-repeat; }
.smico-google-plus { background: url("../img/small-icon/logotypes/google-plus.png") no-repeat; }
.smico-google-drive { background: url("../img/small-icon/logotypes/google-drive.png") no-repeat; }
.smico-google-play { background: url("../img/small-icon/logotypes/google-play.png") no-repeat; }
.smico-html5 { background: url("../img/small-icon/logotypes/html5.png") no-repeat; }
.smico-ie { background: url("../img/small-icon/logotypes/ie.png") no-repeat; }
.smico-instagram { background: url("../img/small-icon/logotypes/instagram.png") no-repeat; }
.smico-lastfm { background: url("../img/small-icon/logotypes/lastfm.png") no-repeat; }
.smico-linkedin { background: url("../img/small-icon/logotypes/linkedin.png") no-repeat; }
.smico-microsoft { background: url("../img/small-icon/logotypes/microsoft.png") no-repeat; }
.smico-myspace { background: url("../img/small-icon/logotypes/myspace.png") no-repeat; }
.smico-opera { background: url("../img/small-icon/logotypes/opera.png") no-repeat; }
.smico-path { background: url("../img/small-icon/logotypes/path.png") no-repeat; }
.smico-pinterest { background: url("../img/small-icon/logotypes/pinterest.png") no-repeat; }
.smico-rss { background: url("../img/small-icon/logotypes/rss.png") no-repeat; }
.smico-safari { background: url("../img/small-icon/logotypes/safari.png") no-repeat; }
.smico-skype { background: url("../img/small-icon/logotypes/skype.png") no-repeat; }
.smico-soundcloud { background: url("../img/small-icon/logotypes/soundcloud.png") no-repeat; }
.smico-stumbleupon { background: url("../img/small-icon/logotypes/stumbleupon.png") no-repeat; }
.smico-tumblr { background: url("../img/small-icon/logotypes/tumblr.png") no-repeat; }
.smico-twitter { background: url("../img/small-icon/logotypes/twitter.png") no-repeat; }
.smico-vimeo { background: url("../img/small-icon/logotypes/vimeo.png") no-repeat; }
.smico-wordpress { background: url("../img/small-icon/logotypes/wordpress.png") no-repeat; }
.smico-yahoo { background: url("../img/small-icon/logotypes/yahoo.png") no-repeat; }
.smico-youtube { background: url("../img/small-icon/logotypes/youtube.png") no-repeat; }
.smico-airplane { background: url("../img/small-icon/misc/airplane.png") no-repeat; }
.smico-alarm-clock { background: url("../img/small-icon/misc/alarm-clock.png") no-repeat; }
.smico-attachment { background: url("../img/small-icon/misc/attachment.png") no-repeat; }
.smico-backpack { background: url("../img/small-icon/misc/backpack.png") no-repeat; }
.smico-backpack-2 { background: url("../img/small-icon/misc/backpack-2.png") no-repeat; }
.smico-bell { background: url("../img/small-icon/misc/bell.png") no-repeat; }
.smico-book { background: url("../img/small-icon/misc/book.png") no-repeat; }
.smico-bookmark { background: url("../img/small-icon/misc/bookmark.png") no-repeat; }
.smico-bookmark-2 { background: url("../img/small-icon/misc/bookmark-2.png") no-repeat; }
.smico-bookshelf { background: url("../img/small-icon/misc/bookshelf.png") no-repeat; }
.smico-briefcase { background: url("../img/small-icon/misc/briefcase.png") no-repeat; }
.smico-browser { background: url("../img/small-icon/misc/browser.png") no-repeat; }
.smico-bubbl { background: url("../img/small-icon/misc/bubbl.png") no-repeat; }
.smico-bus { background: url("../img/small-icon/misc/bus.png") no-repeat; }
.smico-calendar { background: url("../img/small-icon/misc/calendar.png") no-repeat; }
.smico-candy { background: url("../img/small-icon/misc/candy.png") no-repeat; }
.smico-car { background: url("../img/small-icon/misc/car.png") no-repeat; }
.smico-case { background: url("../img/small-icon/misc/case.png") no-repeat; }
.smico-chalkboard { background: url("../img/small-icon/misc/chalkboard.png") no-repeat; }
.smico-chart { background: url("../img/small-icon/misc/chart.png") no-repeat; }
.smico-chat { background: url("../img/small-icon/misc/chat.png") no-repeat; }
.smico-chemistry { background: url("../img/small-icon/misc/chemistry.png") no-repeat; }
.smico-clipboard { background: url("../img/small-icon/misc/clipboard.png") no-repeat; }
.smico-clock { background: url("../img/small-icon/misc/clock.png") no-repeat; }
.smico-death-star { background: url("../img/small-icon/misc/death-star.png") no-repeat; }
.smico-diamond { background: url("../img/small-icon/misc/diamond.png") no-repeat; }
.smico-drop { background: url("../img/small-icon/misc/drop.png") no-repeat; }
.smico-eraser { background: url("../img/small-icon/misc/eraser.png") no-repeat; }
.smico-eye { background: url("../img/small-icon/misc/eye.png") no-repeat; }
.smico-eye-2 { background: url("../img/small-icon/misc/eye-2.png") no-repeat; }
.smico-female { background: url("../img/small-icon/misc/female.png") no-repeat; }
.smico-flag { background: url("../img/small-icon/misc/flag.png") no-repeat; }
.smico-glasses { background: url("../img/small-icon/misc/glasses.png") no-repeat; }
.smico-graph { background: url("../img/small-icon/misc/graph.png") no-repeat; }
.smico-graph-2 { background: url("../img/small-icon/misc/graph-2.png") no-repeat; }
.smico-hand { background: url("../img/small-icon/misc/hand.png") no-repeat; }
.smico-heart { background: url("../img/small-icon/misc/heart.png") no-repeat; }
.smico-help { background: url("../img/small-icon/misc/help.png") no-repeat; }
.smico-image { background: url("../img/small-icon/misc/image.png") no-repeat; }
.smico-joypad { background: url("../img/small-icon/misc/joypad.png") no-repeat; }
.smico-key { background: url("../img/small-icon/misc/key.png") no-repeat; }
.smico-knife { background: url("../img/small-icon/misc/knife.png") no-repeat; }
.smico-layer-1 { background: url("../img/small-icon/misc/layer-1.png") no-repeat; }
.smico-layers-2 { background: url("../img/small-icon/misc/layers-2.png") no-repeat; }
.smico-lightning { background: url("../img/small-icon/misc/lightning.png") no-repeat; }
.smico-lock { background: url("../img/small-icon/misc/lock.png") no-repeat; }
.smico-male { background: url("../img/small-icon/misc/male.png") no-repeat; }
.smico-map { background: url("../img/small-icon/misc/map.png") no-repeat; }
.smico-map-2 { background: url("../img/small-icon/misc/map-2.png") no-repeat; }
.smico-marker { background: url("../img/small-icon/misc/marker.png") no-repeat; }
.smico-mcfly { background: url("../img/small-icon/misc/mcfly.png") no-repeat; }
.smico-medal { background: url("../img/small-icon/misc/medal.png") no-repeat; }
.smico-medicine { background: url("../img/small-icon/misc/medicine.png") no-repeat; }
.smico-megaphone { background: url("../img/small-icon/misc/megaphone.png") no-repeat; }
.smico-microphone { background: url("../img/small-icon/misc/microphone.png") no-repeat; }
.smico-moon { background: url("../img/small-icon/misc/moon.png") no-repeat; }
.smico-mountain { background: url("../img/small-icon/misc/mountain.png") no-repeat; }
.smico-news { background: url("../img/small-icon/misc/news.png") no-repeat; }
.smico-packman { background: url("../img/small-icon/misc/packman.png") no-repeat; }
.smico-paper-plane { background: url("../img/small-icon/misc/paper-plane.png") no-repeat; }
.smico-patch { background: url("../img/small-icon/misc/patch.png") no-repeat; }
.smico-pencil { background: url("../img/small-icon/misc/pencil.png") no-repeat; }
.smico-photo { background: url("../img/small-icon/misc/photo.png") no-repeat; }
.smico-photo-2 { background: url("../img/small-icon/misc/photo-2.png") no-repeat; }
.smico-piano { background: url("../img/small-icon/misc/piano.png") no-repeat; }
.smico-piggy { background: url("../img/small-icon/misc/piggy.png") no-repeat; }
.smico-pill { background: url("../img/small-icon/misc/pill.png") no-repeat; }
.smico-pin { background: url("../img/small-icon/misc/pin.png") no-repeat; }
.smico-plus { background: url("../img/small-icon/misc/plus.png") no-repeat; }
.smico-present { background: url("../img/small-icon/misc/present.png") no-repeat; }
.smico-profile { background: url("../img/small-icon/misc/profile.png") no-repeat; }
.smico-r2d2 { background: url("../img/small-icon/misc/r2d2.png") no-repeat; }
.smico-rocket { background: url("../img/small-icon/misc/rocket.png") no-repeat; }
.smico-ruler { background: url("../img/small-icon/misc/ruler.png") no-repeat; }
.smico-save { background: url("../img/small-icon/misc/save.png") no-repeat; }
.smico-scissors { background: url("../img/small-icon/misc/scissors.png") no-repeat; }
.smico-server { background: url("../img/small-icon/misc/server.png") no-repeat; }
.smico-settings { background: url("../img/small-icon/misc/settings.png") no-repeat; }
.smico-settings-2 { background: url("../img/small-icon/misc/settings-2.png") no-repeat; }
.smico-share { background: url("../img/small-icon/misc/share.png") no-repeat; }
.smico-shopping-bag { background: url("../img/small-icon/misc/shopping-bag.png") no-repeat; }
.smico-skull { background: url("../img/small-icon/misc/skull.png") no-repeat; }
.smico-speakers { background: url("../img/small-icon/misc/speakers.png") no-repeat; }
.smico-speed { background: url("../img/small-icon/misc/speed.png") no-repeat; }
.smico-star { background: url("../img/small-icon/misc/star.png") no-repeat; }
.smico-switcher { background: url("../img/small-icon/misc/switcher.png") no-repeat; }
.smico-tactic { background: url("../img/small-icon/misc/tactic.png") no-repeat; }
.smico-timer { background: url("../img/small-icon/misc/timer.png") no-repeat; }
.smico-train { background: url("../img/small-icon/misc/train.png") no-repeat; }
.smico-trash { background: url("../img/small-icon/misc/trash.png") no-repeat; }
.smico-tune { background: url("../img/small-icon/misc/tune.png") no-repeat; }
.smico-tv { background: url("../img/small-icon/misc/tv.png") no-repeat; }
.smico-ufo { background: url("../img/small-icon/misc/ufo.png") no-repeat; }
.smico-umbrella { background: url("../img/small-icon/misc/umbrella.png") no-repeat; }
.smico-video { background: url("../img/small-icon/misc/video.png") no-repeat; }
.smico-watch { background: url("../img/small-icon/misc/watch.png") no-repeat; }
.smico-www { background: url("../img/small-icon/misc/www.png") no-repeat; }
.smico-zoom-minus { background: url("../img/small-icon/misc/zoom-minus.png") no-repeat; }
.smico-zoom-plus { background: url("../img/small-icon/misc/zoom-plus.png") no-repeat; }
.smico-baseball { background: url("../img/small-icon/sport/baseball.png") no-repeat; }
.smico-basketball { background: url("../img/small-icon/sport/basketball.png") no-repeat; }
.smico-billiards { background: url("../img/small-icon/sport/billiards.png") no-repeat; }
.smico-finish { background: url("../img/small-icon/sport/finish.png") no-repeat; }
.smico-football { background: url("../img/small-icon/sport/football.png") no-repeat; }
.smico-glove { background: url("../img/small-icon/sport/glove.png") no-repeat; }
.smico-medal-gold { background: url("../img/small-icon/sport/medal-gold.png") no-repeat; }
.smico-medal-bronze { background: url("../img/small-icon/sport/medal-bronze.png") no-repeat; }
.smico-medal-silver { background: url("../img/small-icon/sport/medal-silver.png") no-repeat; }
.smico-rugby { background: url("../img/small-icon/sport/rugby.png") no-repeat; }
.smico-cloud { background: url("../img/small-icon/weather/cloud.png") no-repeat; }
.smico-cloud-sun { background: url("../img/small-icon/weather/cloud-sun.png") no-repeat; }
.smico-cloudy-lightning { background: url("../img/small-icon/weather/cloudy-lightning.png") no-repeat; }
.smico-cloudy-night { background: url("../img/small-icon/weather/cloudy-night.png") no-repeat; }
.smico-cloudy-rain { background: url("../img/small-icon/weather/cloudy-rain.png") no-repeat; }
.smico-cloudy-snow { background: url("../img/small-icon/weather/cloudy-snow.png") no-repeat; }
.smico-cloudy-wind { background: url("../img/small-icon/weather/cloudy-wind.png") no-repeat; }
.smico-drop { background: url("../img/small-icon/weather/drop.png") no-repeat; }
.smico-lightning-sun { background: url("../img/small-icon/weather/lightning-sun.png") no-repeat; }
.smico-moon { background: url("../img/small-icon/weather/moon.png") no-repeat; }
.smico-night-lightning { background: url("../img/small-icon/weather/night-lightning.png") no-repeat; }
.smico-night-rain { background: url("../img/small-icon/weather/night-rain.png") no-repeat; }
.smico-night-snow { background: url("../img/small-icon/weather/night-snow.png") no-repeat; }
.smico-night-wind { background: url("../img/small-icon/weather/night-wind.png") no-repeat; }
.smico-rain-sun { background: url("../img/small-icon/weather/rain-sun.png") no-repeat; }
.smico-snow-sun { background: url("../img/small-icon/weather/snow-sun.png") no-repeat; }
.smico-snowflake { background: url("../img/small-icon/weather/snowflake.png") no-repeat; }
.smico-sun { background: url("../img/small-icon/weather/sun.png") no-repeat; }
.smico-thermometer { background: url("../img/small-icon/weather/thermometer.png") no-repeat; }
.smico-wind-sun { background: url("../img/small-icon/weather/wind-sun.png") no-repeat; }
.smico-aquarium { background: url("../img/small-icon/update1-1/aquarium.png") no-repeat; }
.smico-art { background: url("../img/small-icon/update1-1/art.png") no-repeat; }
.smico-bank { background: url("../img/small-icon/update1-1/bank.png") no-repeat; }
.smico-baseball-hat { background: url("../img/small-icon/update1-1/baseball-hat.png") no-repeat; }
.smico-basecamp { background: url("../img/small-icon/update1-1/basecamp.png") no-repeat; }
.smico-bowling { background: url("../img/small-icon/update1-1/bowling.png") no-repeat; }
.smico-bowtie { background: url("../img/small-icon/update1-1/bowtie.png") no-repeat; }
.smico-box { background: url("../img/small-icon/update1-1/box.png") no-repeat; }
.smico-cake { background: url("../img/small-icon/update1-1/cake.png") no-repeat; }
.smico-candle { background: url("../img/small-icon/update1-1/candle.png") no-repeat; }
.smico-chair { background: url("../img/small-icon/update1-1/chair.png") no-repeat; }
.smico-cheeze { background: url("../img/small-icon/update1-1/cheeze.png") no-repeat; }
.smico-chicken { background: url("../img/small-icon/update1-1/chicken.png") no-repeat; }
.smico-chips { background: url("../img/small-icon/update1-1/chips.png") no-repeat; }
.smico-christmas { background: url("../img/small-icon/update1-1/christmas.png") no-repeat; }
.smico-digg { background: url("../img/small-icon/update1-1/digg.png") no-repeat; }
.smico-drupal { background: url("../img/small-icon/update1-1/drupal.png") no-repeat; }
.smico-duck { background: url("../img/small-icon/update1-1/duck.png") no-repeat; }
.smico-envato { background: url("../img/small-icon/update1-1/envato.png") no-repeat; }
.smico-evernote { background: url("../img/small-icon/update1-1/evernote.png") no-repeat; }
.smico-fancy { background: url("../img/small-icon/update1-1/fancy.png") no-repeat; }
.smico-foursquare { background: url("../img/small-icon/update1-1/foursquare.png") no-repeat; }
.smico-glove { background: url("../img/small-icon/update1-1/glove.png") no-repeat; }
.smico-golf { background: url("../img/small-icon/update1-1/golf.png") no-repeat; }
.smico-grooveshark { background: url("../img/small-icon/update1-1/grooveshark.png") no-repeat; }
.smico-guitar-sound { background: url("../img/small-icon/update1-1/guitar-sound.png") no-repeat; }
.smico-handbag { background: url("../img/small-icon/update1-1/handbag.png") no-repeat; }
.smico-hat { background: url("../img/small-icon/update1-1/hat.png") no-repeat; }
.smico-headphones { background: url("../img/small-icon/update1-1/headphones.png") no-repeat; }
.smico-house { background: url("../img/small-icon/update1-1/house.png") no-repeat; }
.smico-kickstarter { background: url("../img/small-icon/update1-1/kickstarter.png") no-repeat; }
.smico-lamp { background: url("../img/small-icon/update1-1/lamp.png") no-repeat; }
.smico-lightbulb { background: url("../img/small-icon/update1-1/lightbulb.png") no-repeat; }
.smico-lights { background: url("../img/small-icon/update1-1/lights.png") no-repeat; }
.smico-magic-hat { background: url("../img/small-icon/update1-1/magic-hat.png") no-repeat; }
.smico-mailbox { background: url("../img/small-icon/update1-1/mailbox.png") no-repeat; }
.smico-meat { background: url("../img/small-icon/update1-1/meat.png") no-repeat; }
.smico-microwave { background: url("../img/small-icon/update1-1/microwave.png") no-repeat; }
.smico-notepad { background: url("../img/small-icon/update1-1/notepad.png") no-repeat; }
.smico-pacifier { background: url("../img/small-icon/update1-1/pacifier.png") no-repeat; }
.smico-paint { background: url("../img/small-icon/update1-1/paint.png") no-repeat; }
.smico-paper { background: url("../img/small-icon/update1-1/paper.png") no-repeat; }
.smico-processor { background: url("../img/small-icon/update1-1/processor.png") no-repeat; }
.smico-ps4 { background: url("../img/small-icon/update1-1/ps4.png") no-repeat; }
.smico-quora { background: url("../img/small-icon/update1-1/quora.png") no-repeat; }
.smico-rdio { background: url("../img/small-icon/update1-1/rdio.png") no-repeat; }
.smico-shield { background: url("../img/small-icon/update1-1/shield.png") no-repeat; }
.smico-shirt { background: url("../img/small-icon/update1-1/shirt.png") no-repeat; }
.smico-shorts { background: url("../img/small-icon/update1-1/shorts.png") no-repeat; }
.smico-shrub { background: url("../img/small-icon/update1-1/shrub.png") no-repeat; }
.smico-sony-playstation { background: url("../img/small-icon/update1-1/sony-playstation.png") no-repeat; }
.smico-spotify { background: url("../img/small-icon/update1-1/spotify.png") no-repeat; }
.smico-squarespace { background: url("../img/small-icon/update1-1/squarespace.png") no-repeat; }
.smico-svpply { background: url("../img/small-icon/update1-1/svpply.png") no-repeat; }
.smico-sword { background: url("../img/small-icon/update1-1/sword.png") no-repeat; }
.smico-teddy-bear { background: url("../img/small-icon/update1-1/teddy-bear.png") no-repeat; }
.smico-ticket { background: url("../img/small-icon/update1-1/ticket.png") no-repeat; }
.smico-tshirt { background: url("../img/small-icon/update1-1/tshirt.png") no-repeat; }
.smico-vine { background: url("../img/small-icon/update1-1/vine.png") no-repeat; }
.smico-vinyl { background: url("../img/small-icon/update1-1/vinyl.png") no-repeat; }
.smico-wand { background: url("../img/small-icon/update1-1/wand.png") no-repeat; }
.smico-web-camera { background: url("../img/small-icon/update1-1/web-camera.png") no-repeat; }
.smico-weheartit { background: url("../img/small-icon/update1-1/weheartit.png") no-repeat; }
.smico-wikipedia { background: url("../img/small-icon/update1-1/wikipedia.png") no-repeat; }
.smico-x-box { background: url("../img/small-icon/update1-1/x-box.png") no-repeat; }
.smico-x-box-one { background: url("../img/small-icon/update1-1/x-box-one.png") no-repeat; }
.smico-yin-yang { background: url("../img/small-icon/update1-1/yin-yang.png") no-repeat; }
.smico-zerply { background: url("../img/small-icon/update1-1/zerply.png") no-repeat; }
.smico-zippo { background: url("../img/small-icon/update1-1/zippo.png") no-repeat; }
